body {
    margin: 0%;
}

* {
    box-sizing: border-box;
  }
  
.header {
  justify-content: center;
  text-align: center;
  padding: 15px;
  font-weight: bold;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.p-1{padding: 1%}
.p-2{padding: 2%}
.p-3{padding: 3%}

.pl-1{padding-left: 1%;}
.pl-2{padding-left: 2%;}
.pl-3{padding-left: 3%;}
.pr-1{padding-right: 1%;}
.pr-2{padding-right: 2%;}
.pr-3{padding-right: 3%;}

.mb-1{margin-bottom: 1%;}
.mb-2{margin-bottom: 2%}
.ml-1{margin-left: 1%}
.ml-2{margin-left: 2%}

.align-end {
  justify-content: end;
  text-align: end;
}

.announcement {
  font-size:x-large;
  font-weight: bolder;
  justify-content: center;
  text-align: center;
}

.w-100 {
  width: 100%;
}